<h1>Listing creditors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bank name</th>
    <th>Bank code</th>
    <th>Bank office</th>
    <th>Bank account</th>
    <th>Contact name</th>
    <th>Contact email</th>
    <th>Contact phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @creditors.each do |creditor| %>
  <tr>
    <td><%= creditor.name %></td>
    <td><%= creditor.bank_name %></td>
    <td><%= creditor.bank_code %></td>
    <td><%= creditor.bank_office %></td>
    <td><%= creditor.bank_account %></td>
    <td><%= creditor.contact_name %></td>
    <td><%= creditor.contact_email %></td>
    <td><%= creditor.contact_phone %></td>
    <td><%= link_to 'Show', [creditor] %></td>
    <td><%= link_to 'Edit', edit_creditor_path(creditor) %></td>
    <td><%= link_to 'Destroy', creditor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Creditor', new_creditor_path %>
