<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @creditor.name %>
</p>

<p>
  <b>Bank name:</b>
  <%= @creditor.bank_name %>
</p>

<p>
  <b>Bank code:</b>
  <%= @creditor.bank_code %>
</p>

<p>
  <b>Bank office:</b>
  <%= @creditor.bank_office %>
</p>

<p>
  <b>Bank account:</b>
  <%= @creditor.bank_account %>
</p>

<p>
  <b>Contact name:</b>
  <%= @creditor.contact_name %>
</p>

<p>
  <b>Contact email:</b>
  <%= @creditor.contact_email %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @creditor.contact_phone %>
</p>


<%= link_to 'Edit', edit_creditor_path(@creditor) %> |
<%= link_to 'Back', creditors_path %>
