<h1>Listing streets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Area</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @streets.each do |street| %>
  <tr>
    <td><%= street.name %></td>
    <td><%= street.area.name %></td>
    <td><%= link_to 'Show', [street.area.city,street.area,street] %></td>
    <td><%= link_to 'Edit', edit_city_area_street_path(street.area.city,street.area,street) %></td>
    <td><%= link_to 'Destroy', [street.area.city,street.area,street], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Street', new_city_area_street_path %>
