<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @street.name %>
</p>

<p>
  <b>Area:</b>
  <%= @street.area.name %>
</p>


<%= link_to 'Edit', edit_city_area_street_path(@street.area.city,@street.area,@street) %> |
<%= link_to 'Back', city_area_streets_path %>
