<%= csrf_meta_tag %>
<% content_for :scripts do %>
<script>
    function showRates(area_id, city_id) {
        $('#area-rates').attr('data-source','/cities/'+city_id+'/areas/'+area_id+'/rates.json');

        $('#area-rates').dataTable( {
            "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "bJQueryUI": true,
            "bProcessing": true,
            "bServerSide": true,
            "bDestroy":true,
            "sAjaxSource": $('#area-rates').data('source'),
            "fnServerParams": function ( aoData ) {
                aoData.push( { "area_id": area_id } );
            },
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
            }
        } );

        if(!document.getElementById('new-rate')) {
            $("#accordionPagination").append("<a id='new-rate' href=/cities/"+city_id+"/areas/"+area_id+"/rates/new >new Rate</>");
        }
    }
</script>
<%= javascript_include_tag 'jstree/jquery.cookie' %>
<%= javascript_include_tag 'jstree/jquery.hotkeys' %>
<%= javascript_include_tag 'jstree/jquery.jstree' %>
<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false' %>
<%= javascript_include_tag 'areas' %>
<%= stylesheet_link_tag 'areas' %>
<script>
  set_city(<%= @city.id %>,"<%= @city.name %>");
</script>
<% end %>

<!--<div class="row-fluid">
<div class="accordion" id="accordionPagination">
<div class="accordion-group">
<div class="accordion-heading">
<a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger"
data-toggle="collapse" data-parent="#accordion2" href="#collapsePagination">
<i class="icon-list"></i> <%= @city.name %> areas <i class="icon-minus pull-right"></i>
</a>
</div>
<div id="collapsePagination" class="accordion-body collapse in">
<div class="accordion-inner" style="background-color: #ffffff;">
<div class="container">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
<thead>
  <tr>
    <th>Area</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @areas.each do |area| %>
  <tr>
    <td><%= area.name %></td>
    <td><%= link_to_function 'Show', "javascript:showRates("+area.id.to_s+","+area.city_id.to_s+")" %></td>
    <td><%= link_to 'Edit', edit_city_area_path(area.city,area) %></td>
    <td><%= link_to 'Destroy', [area.city,area], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
</div>
</div>

</div>
</div>

<%= link_to 'New Area', new_city_area_path %>
<br />
<br />-->

<div class="row-fluid">
    <div class="accordion" id="accordionChart1">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-primary"
             data-toggle="collapse" data-parent="#accordion2" href="#collapseChart1">
            <i class="icon-bar-chart"></i> Areas map <i class="icon-minus pull-right"></i>
          </a>
        </div>
        <div id="collapseChart1" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div id="spline">
              <div id="container">
                <div id="navbar">
                  <div id="areasTree"  style="height:500px;"></div>
                </div>
                <div id="map" style="height: 500px; "></div>
              </div>
              <div id="footer"><div id="shape_b" onclick="save()"/></div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>

<br />

<div class="row-fluid">
  <div class="accordion" id="accordionPagination">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger"
           data-toggle="collapse" data-parent="#accordion2" href="#collapsePagination">
          <i class="icon-list"></i> Rates for area <%= @city.name + " " + @area.name if @area %> <i class="icon-minus pull-right"></i>
        </a>
      </div>
      <div id="collapsePagination" class="accordion-body collapse in">
        <div class="accordion-inner" style="background-color: #ffffff;">
          <div class="container">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="area-rates" data-source="">
              <thead>
              <tr>
                <th>Rate</th>
                <th>Currency</th>
                <th>Start Day A Week</th>
                <th>End  Day A Week</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Valid starting</th>
                <th>Valid till</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<br />

