<%= form_for(@bankaccount) do |f| %>
  <% if @bankaccount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bankaccount.errors.count, "error") %> prohibited this bank account from being saved:</h2>

      <ul>
      <% @bankaccount.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bank_name %><br />
    <%= f.text_field :bank_name %>
  </div>
  <div class="field">
    <%= f.label :bank_code %><br />
    <%= f.text_field :bank_code %>
  </div>
  <div class="field">
    <%= f.label :bank_office %><br />
    <%= f.text_field :bank_office %>
  </div>
  <div class="field">
    <%= f.label :bank_account %><br />
    <%= f.text_field :bank_account %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br />
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br />
    <%= f.text_field :contact_email %>
  </div>
  <div class="field">
    <%= f.label :contact_phone %><br />
    <%= f.text_field :contact_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
