<%= form_for(@bank_account, html: { class: 'form-horizontal' }) do |f| %>
<div class="row-fluid">
  <div class="span6">
    <div class="accordion" id="accordionFormState">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-primary"
             data-toggle="collapse" data-parent="#accordion2" href="#collapseFormState">
            <i class="icon-list-alt"></i> Bank Account Details <i class="icon-minus pull-right"></i>
          </a>
        </div>
        <div id="collapseFormState" class="accordion-body collapse in">
          <div class="accordion-inner" style="background-color: #ffffff;">
              <fieldset>
                  <% if @bank_account.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this bank account from being saved:</h2>

                      <ul>
                      <% @bank_account.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="control-group" >
                    <%= f.label 'Account Owner Name', :class =>"control-label", :for=>"bank_account_name" %>
                    <div class="controls" >
                      <%= f.text_field :name %>
                    </div>
                  </div>
                  <div class="control-group" >
                    <%= f.label :bank_name, :class =>"control-label" %>
                      <div class="controls" >
                        <%= f.text_field :bank_name %>
                      </div>
                  </div>
                  <div class="control-group" >
                    <%= f.label :bank_code, :class =>"control-label" %>
                    <div class="controls" >
                        <%= f.text_field :bank_code %>
                      </div>
                  </div>
                  <div class="control-group" >
                    <%= f.label :bank_office, :class =>"control-label" %>
                    <div class="controls" >
                        <%= f.text_field :bank_office %>
                      </div>
                  </div>
                  <div class="control-group" >
                    <%= f.label :bank_account, :class =>"control-label" %>
                    <div class="controls" >
                        <%= f.text_field :bank_account %>
                      </div>
                  </div>
                  <div class="control-group" >
                    <%= f.label :contact_name, :class =>"control-label" %>
                    <div class="controls" >
                        <%= f.text_field :contact_name %>
                      </div>
                  </div>
                  <div class="control-group" >
                    <%= f.label :contact_email, :class =>"control-label" %>
                    <div class="controls" >
                        <%= f.text_field :contact_email %>
                      </div>
                  </div>
                  <div class="control-group" >
                    <%= f.label :contact_phone, :class =>"control-label" %>
                    <div class="controls" >
                        <%= f.text_field :contact_phone %>
                      </div>
                  </div>
                  <div class="form-actions">
                    <%= f.submit "Submit", class: 'btn btn-primary'%>
                  </div>
              </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>