<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bank_account.name %>
</p>

<p>
  <b>Bank name:</b>
  <%= @bank_account.bank_name %>
</p>

<p>
  <b>Bank code:</b>
  <%= @bank_account.bank_code %>
</p>

<p>
  <b>Bank office:</b>
  <%= @bank_account.bank_office %>
</p>

<p>
  <b>Bank account:</b>
  <%= @bank_account.bank_account %>
</p>

<p>
  <b>Contact name:</b>
  <%= @bank_account.contact_name %>
</p>

<p>
  <b>Contact email:</b>
  <%= @bank_account.contact_email %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @bank_account.contact_phone %>
</p>


<%= link_to 'Edit', edit_bank_account_path(@bank_account) %>

