<h1>Listing payments</h1>

<table>
  <tr>
    <th>Car</th>
    <th>Area</th>
    <th>User</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if @payments %>
<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.car.car_description if payment.car %></td>
    <td><%= payment.area.name %></td>
    <td><%= payment.user.firstname + ' ' + payment.user.lastname if payment.user %></td>
    <td><%= payment.start_time %></td>
    <td><%= payment.end_time %></td>
    <td><%= link_to 'Show', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<% end %>
</table>

<%= will_paginate @payments if @payments %>

<br />

<%= link_to 'New Payment', new_payment_path %>
