<p id="notice"><%= notice %></p>

<p>
  <b>Car:</b>
  <%= @payment.car.car_description if @payment.car %>
</p>

<p>
  <b>X pos:</b>
  <%= @payment.x_pos %>
</p>

<p>
  <b>Y pos:</b>
  <%= @payment.y_pos %>
</p>

<p>
  <b>Area:</b>
  <%= @payment.area.name %>
</p>

<p>
  <b>User:</b>
  <%= @payment.user.firstname + ' ' + @payment.user.lastname if @payment.user %>
</p>

<p>
  <b>Start time:</b>
  <%= @payment.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @payment.end_time %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
