<%= form_for [@car.user, @car], :html => { :multipart => true ,:class => "form-horizontal"} do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>
      <ul>
        <% @car.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user ,:class => "control-label"%>
    <div class="controls">
      <span class="input-large uneditable-input"><%=  @car.user.email %></span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :license_plate, :class => "control-label"%>
    <div class="controls">
      <%= f.text_field :license_plate, :placeholder => "License Plate"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :car_description,:class => "control-label"%>
    <div class="controls">
      <%= f.text_field :car_description, :placeholder => "Car Description"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :car_image ,:class => "control-label"%>
    <div class="controls">
      <%= f.file_field :car_image %>
      <div>
        <%= image_tag @car.car_image.url(:thumb), :class => "img-rounded"  %>
      </div>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
