<h1>Listing cars</h1>

<table>
  <tr>
    <th>User</th>
    <th>License plate</th>
    <th>Car description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.user.email %></td>
    <td><%= car.license_plate %></td>
    <td><%= car.car_description %></td>
    <td><%= image_tag car.car_image.url(:thumb) %></td>
    <td><%= link_to 'Show', [car.user, car] %></td>
    <td><%= link_to 'Edit', edit_user_car_path(car.user,car) %></td>
    <td><%= link_to 'Destroy', [car.user, car], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car', new_user_car_path %>
