<div class="container" style="padding-bottom: 80px;">

  <p id="notice"><%= notice %></p>

  <p>
    <%= image_tag @car.car_image.url(:thumb),:class=>"pull-left span2 clearfix", :style=>'margin-right:10px' %>
  </p>
  <p>
    <b>User:</b>
    <%= @car.user.email %>
  </p>

  <p>
    <b>License plate:</b>
    <%= @car.license_plate %>
  </p>

  <p>
    <b>Car description:</b>
    <%= @car.car_description %>
  </p>


  <%= link_to 'Edit', edit_user_car_path(@car.user,@car) %> |
  <%= link_to 'Back', user_cars_path %>

</div>
