<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @car.user.email %>
</p>

<p>
  <b>License plate:</b>
  <%= @car.license_plate %>
</p>

<p>
  <b>Car description:</b>
  <%= @car.car_description %>
</p>


<%= link_to 'Edit', edit_user_car_path(@car.user,@car) %> |
<%= link_to 'Back', user_cars_path %>
