<%= form_for([@rate.area.city, @rate.area, @rate]) do |f| %>
  <% if @rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
      <% @rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= @rate.area.name %>
  </div>

    <div class="field">
      <%= f.label :start_day_a_week %> Sunday 0, Monday 1<br />
      <%= f.text_field :start_day_a_week %>
    </div>
    <div class="field">
      <%= f.label :end_day_a_week %> Sunday 0, Monday 1<br />
      <%= f.text_field :end_day_a_week %>
    </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
      <%= f.label :start_time %><br />
      <%= f.time_select :start_time %>
  </div>
  <div class="field">
      <%= f.label :valid_start_at %><br />
      <%= f.time_select :valid_start_at %>
  </div>
  <div class="field">
      <%= f.label :valid_end_at %><br />
      <%= f.time_select :valid_end_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
