<div class="row-fluid">
<div class="accordion" id="accordionPagination">
<div class="accordion-group">
<div class="accordion-heading">
<a style="text-align: left;text-decoration: none" class="accordion-toggle btn btn-danger"
data-toggle="collapse" data-parent="#accordion2" href="#collapsePagination">
<i class="icon-list"></i> Pagination Tabel <i class="icon-minus pull-right"></i>
</a>
</div>
<div id="collapsePagination" class="accordion-body collapse in">
<div class="accordion-inner" style="background-color: #ffffff;">
<div class="container">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
<thead>
  <tr>
    <th>Rate</th>
    <th>Currency</th>
    <th>Area</th>
    <th>Start Day A Week</th>
    <th>End  Day A Week</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Valid starting</th>
    <th>Valid till</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @rates.each do |rate| %>
  <tr>
    <td><%= rate.rate %></td>
    <td><%= rate.currency %></td>
    <td><%= rate.area.name %></td>
    <td><%= rate.start_day_a_week %></td>
    <td><%= rate.end_day_a_week %></td>
    <td><%= l rate.start_time, :format =>  "%H:%M" %></td>
    <td><%= l rate.end_time, :format =>  "%H:%M" %></td>
    <td><%= rate.valid_start_at %></td>
    <td><%= rate.valid_end_at %></td>
    <td><%= link_to 'Show', [rate.area.city, rate.area, rate] %></td>
    <td><%= link_to 'Edit', edit_city_area_rate_path(rate.area.city, rate.area, rate) %></td>
    <td><%= link_to 'Destroy', [rate.area.city, rate.area, rate], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>

</div>
</div>

<br />

<%= link_to 'New Rate', new_city_area_rate_path %>
