<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OzPark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag "application", media: "all" %>

  <!--[if lt IE 7]>
  <%= stylesheet_link_tag 'verso/font-awesome-ie7.min.css' %>
  <![endif]-->

  <%= yield :stylesheets %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Patua+One' %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
  <![endif]-->
  <!-- Le fav and touch icons -->

  <%= favicon_link_tag %>

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/verso/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/verso/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/verso/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/verso/apple-touch-icon-57-precomposed.png">

  <%= csrf_meta_tags %>
</head>
<body>

<!--START MAIN-WRAPPER-->
<div class="main-wrapper">

<% if content_for? :page_header %>
  <%= yield :page_header %>
<% else %>

<%= render 'navigation' %>

<!-- PAGE HEADER -->
<div class="page-header">
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">

          <div class="row-fluid">
            <div class="span12">
              <h1>Portfolio 3 columns with filter</h1>
              <!-- BREADCRUMB -->
              <ul class="breadcrumb">
                <li><a href="#">Home</a> <span class="divider">&rarr;</span></li>
                <li class="active">Portfolio 3 columns with filter</li>
              </ul>
              <!--END: BREADCRUMB -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PAGE HEADER -->
<% end %>

<!-- CONTENT CONTAINER-->
<div class="container">

  <%= yield %>

</div>

<%= render 'footer' %>

</div>
<!-- END: MAIN-WRAPPER-->
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the abouts load faster -->
<%= javascript_include_tag "application" %>

<%= yield :scripts %>

</body>
</html>
