<!DOCTYPE html>
<html>
  <head>
    <title>ParknpayServer</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <link href="bootstrap-assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap-assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% end %>

      <%= yield %>
  </body>
</html>
